<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project list</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>
    <h2><a href="{{url_for('index')}}">Home</a></h2>

    <table>
        <thead>
        <th>#</th>
        <th>Project</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Status</th>
        </thead>
        {% for project in projects %}
        <tr>
            <td>{{ project[0] }}</td>
            <td><a href="/project/{{ project[0] }}">{{ project[1] }}</a></td>
            <td>{{ project[2] }}</td>
            <td>{{ project[3] }}</td>
            <td>{{ project[4] }}</td>        </tr>
        {% endfor %}
    </table>
<div>

    </div>
</body>
</html>