<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project list</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>
    <h2>Project list</h2>

    <table>
        <thead>
        <th>#</th>
        <th>Project</th>
        <th>Start date</th>
        <th>End date</th>
        <th>Status</th>
        </thead>
        {% for project in projects %}
        <tr>
            <td>{{ project[0] }}</td>
            <td><a href="/projects/{{ project[1] }}">{{ project[1] }}</a></td>
            <td>{{ project[2] }}</td>
            <td>{{ project[3] }}</td>
            <td>{{ project[4] }}</td>
        </tr>
        {% endfor %}
    </table>
<div>
        <h2> Change the project: </h2>
        <form method="POST" action="/projects/">
            {{ form.hidden_tag() }}
            <table>
                {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Go">
        </form>
    </div>
</body>
</body>
</html>