<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>
    {% if form %}
    <h2> Project title: {{ form.project_title.data }} </h2>
<table>
    <thead>
    <th>Project</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Status</th>
    </thead>
    <tr>
        <td><a href="/projects/{{ project_id }}">{{ form.project_title.data }}</a></td>
        <td>{{ form.start_date_p.data }}</td>
        <td>{{ form.end_date_p.data }}</td>
        <td>{{ form.done.data }}</td>
     </tr>
</table>
    <h2><a href="">Back to the list </a></h2>
    {% endif %}

    {% if form1 %}
        <h2> Added Task: {{ form1.task_title.data }} </h2>

    <table>
    <thead>
    <th>Project Id</th>
    <th>Task title</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    </thead>
        <tr>
        <td><a href="/projekts/{{ project_id }}/">{{ form1.project_id.data }}</a></td>
        <td><a href="">{{ form1.task_title.data }}</a></td>
        <td>{{ form1.description.data }}</td>
        <td>{{ form1.start_date_t.data }}</td>
        <td>{{ form1.end_date_t.data }}</td>
     </tr>
</table>
      <h2><a href="/tasks/">Back to the list </a></h2>
    {% endif %}
</body>
</html>