<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task details</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>

<h2><a href="/tasks/">Task title: {{ task[3] }}</a></h2>
    <table>
        <thead>
        <th>#</th>
        <th>Project Id</th>
        <th>Task title</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        </thead>
        <tr>
            <td>{{ task[0] }}</td>
            <td><a href="/projects/{{ task[0] }}/">{{ task[1] }}</a></td>
            <td>{{ task[2] }}</td>
            <td>{{ task[3] }}</td>
            <td>{{ task[4] }}</td>
            <td>{{ task[5] }}</td>
        </tr>
    </table>

<h2> Change the task: </h2>
    <form method="POST" action="{{url_for('index')}}">
        {{ form.hidden_tag() }}
        <table>
            {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Change the project">
    </form>

<h2><a href="{{url_for('index')}}">Home</a></h2>
</body>
</html>