<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task list</title>
    <style>
        table, th, tr, td {border: 1px solid black;}
    </style>
</head>
<body>


<h2>Task list</h2>
    <table>
        <thead>
        <th>#</th>
        <th>Project Id</th>
        <th>Task title</th>
        <th>Description</th>
        <th>Start date</th>
        <th>End date</th>
        </thead>
        {% for task in tasks %}
        <tr>
            <td>{{ task[0] }}</td>
            <td><a href="/projects/">{{ task[1] }}</a></td>
            <td><a href="/tasks/{{ task[0] }}">{{ task[2] }}</a></td>
            <td>{{ task[3] }}</td>
            <td>{{ task[4] }}</td>
            <td>{{ task[5] }}</td>
        </tr>
        {% endfor %}
    </table>

<h2> Add the task : </h2>
<form method="POST" action="{{url_for('index')}}">

    {{ form1.csrf_token }}
    <table>
        <tr>
            <th>{{ form1.project_id.label }} * </th><td> {{ form1.project_id }}</td>
            <th>{{ form1.task_title.label }} * </th><td> {{ form1.task_title }}</td>
            <th>{{ form1.description.label }} * </th><td> {{ form1.description }}</td>
            <th>{{ form1.start_date_t.label }} </th><td> {{ form1.start_date_t }}</td>
            <th>{{ form1.end_date_t.label }} </th><td> {{ form1.end_date_t }}</td>
        </tr>
    </table>
    <input type="submit" value="Add the task">
</form>

<h2><a href="{{url_for('index')}}">Home</a></h2>
</body>
</html>