<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project details</title>
    <style>
        table, th, tr, td {border: 1px solid black;}


    </style>
</head>
<body>
{% if form.errors %}
failed validation
{% endif %}

<h2>Title of project: {{ project[1] }}</h2>

<table>
    <thead>
    <th>#</th>
    <th>Project</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Status</th>
    </thead>
    <tr>
        <td>{{ project[0] }}</td>
        <td><a href="/todos/">{{ project[1] }}</a></td>
        <td>{{ project[2] }}</td>
        <td>{{ project[3] }}</td>
        <td>{{ project[4] }}</td>
    </tr>
</table>

<h2>Task list of project: </h2>
<table>
    <thead>
    <th>#</th>
    <th>Project Id</th>
    <th>Task</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    </thead>
    {% for task in tasks %}
    <tr>
        <td>{{ task[0]}}</td>
        <td>{{ task[1] }} </td>
        <td><a href="/todos/{{ project_id }}/{{ task_id }}/">{{ task[2]}}</a></td>
        <td>{{ task[3] }}</td>
        <td>{{ task[4] }}</td>
        <td>{{ task[5] }}</td>
    </tr>
    {% endfor %}
</table>

<h2> Add a task : </h2>
<form method=" POST" action="/todos/{{ project_id }}/">
            {{ form.hidden_tag() }}
            <table>
                {% for field in form if field.widget.input_type != 'hidden' %}
                <tr>
                    <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                    <td>{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Go">
            </form>

            <h2> Change a project : </h2>
            <form method="POST" action="/todos/{{ project_id }}/">
                {{ form.hidden_tag() }}
                <table>
                    {% for field in form if field.widget.input_type != 'hidden' %}
                    <tr>
                        <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
                        <td>{{ field }}</td>
                    </tr>
                    {% endfor %}
                </table>
                <input type="submit" value="Change a project">
            </form>

</body>
</html>