<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task details</title>
    <style>
        table, th, tr, td {border: 1px solid black;}

    </style>
</head>
<body>
{% if form.errors %}
    failed validation
{% endif %}

<h2>Title of task: {{ task[1] }}</h2>

<table>
    <thead>
    <th>#</th>
    <th>Project Id</th>
    <th>Task</th>
    <th>Description</th>
    <th>Start date</th>
    <th>End date</th>
    </thead>
    <tr>
        <td>{{ task[0] }}</td>
        <td><a href="/todos/{{ project_id }}/">{{ task[1}}</a></td>
        <td>{{ task[2] }}</td>
        <td>{{ task[3] }}</td>
        <td>{{ task[4] }}</td>
        <td>{{ task[5] }}</td>
    </tr>
</table>

<h2> Change a task : </h2>
<form method="POST" action="/todos/{{ project_id }}/{{ task_id }}/">
    {{ form.hidden_tag() }}
    <table>
        {% for field in form if field.widget.input_type != 'hidden' %}
        <tr>
            <th>{{ field.label }} {% if field.flags.required %}*{% endif %}</th>
            <td>{{ field }}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Go">
</form>

</body>
</html>